.main{
  background-color: #ddd;
  height: calc(100vh - 100px);
  width: 100vw;
  overflow: scroll;
  &__background{
    background-color: #eee;
    height: 100vh;
    margin: 0 70px;
    overflow: scroll;
    padding-bottom: 100px;  
    &__formats{
      text-align: center;
      &__title{
        margin-top: 30px;
        font-size: 30px;
        color: #333;
        font-weight: bold;
      }
      p{
        display: block;
        font-size: 30px;
        margin-top: 30px;
      }
    }
  }
  .edit_form{
    width: 50%;
    margin: auto;
    &__field{
      padding-top: 20px;
      .text{
      height: 50px;
      margin-bottom: 30px;
      width: 100%;
      }
    }
    .edit_button {
      height: 50px;
      border-radius: 5px;
      text-align: center;
      cursor: pointer;
      padding: 12px 12px;
      background-color: #ff8;
      line-height: 1em;
      border: 2px solid #000066;
      margin-bottom: 20px;
      margin-left: 20px
    }
    .button:hover {
      background: #ffffff;
    }
  }
}


