.main{
  background-color: #ddd;
  overflow:hidden;
  &__background{
    background-color: #eee;
    height: 100vh;
    margin: 0 70px;
    overflow-y: scroll;
    padding-bottom: 90px;
    padding-top: 100px;
    &__formats{
      text-align: center;
      &__title{
        margin-top: 30px;
        font-size: 30px;
        color: #333;
        font-weight: bold;
      }
      p{
        display: block;
        font-size: 30px;
        margin-top: 30px;
      }
    }
  }
  .edit_form{
    width: 50%;
    margin: auto;
    &__field{
      padding-top: 20px;
      .text{
      height: 50px;
      margin: 20px 0 80px;
      width: 100%;
      font-size: 24px;
      }
    }
    .edit_button {
      height: 50px;
      width: 100px;
      font-size: 20px;
      border-radius: 5px;
      text-align: center;
      cursor: pointer;
      padding: 12px 12px;
      background-color: #ff8;
      line-height: 1em;
      border: 2px solid #006;
    }
    .button:hover {
      background: #ffffff;
    }
    .return_btn{
      height: 50px;
      font-size: 20px;
      border-radius: 5px;
      text-align: center;
      cursor: pointer;
      padding: 13px 26px;
      background-color: #fff;
      line-height: 1em;
      border: 2px solid #006;
      margin-left: 20px;
      text-decoration: none;
      color: #000;
    }
  }
}


