.main_fixed{
  background-color: #ddd;
  height: calc(100vh - 100px);
  width: 100vw;
  overflow: hidden;
  &__background{
    background-color: #eee;
    height: 100vh;
    margin: 0 70px;
    overflow: hidden;
    padding-bottom: 100px;   
    &__formats{
      text-align: center;
      p{
        margin-top: 30px;
        margin-bottom: 15px;
        font-size: 30px;
        color: #333;
        font-weight: bold;
      }
    }
  }
  .user_edit_form{
    width: 50%;
    margin: auto;
    text-align: center; 
    &__field{
      padding-top: 20px;
      .text{
      height: 50px;
      margin-bottom: 30px;
      width: 100%;
      }
      &--label{
        font-size: 24px;
      }
    }
    .user_edit_button{
      height: 50px;
      border-radius: 5px;
      text-align: center;
      cursor: pointer;
      padding: 12px 12px;
      background-color: #ff8;
      line-height: 1em;
      border: 2px solid #000066;
      margin-top: 20px
    }
    .button:hover {
      background: #fff;
    }
  }
}


